.portfolio {
  @include slider;

  &__wrapper {
    justify-content: center;
  }

  &__content {
    position: absolute;
    max-height: 100%;

    @media (max-width:$mobile){
      position: static;
    }
  }

  &__img img {
    filter: grayscale(1);

    @media (max-width:$mobile){
      filter: grayscale(0);
    }
  }
}
